<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JMH Charts</title>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.4.1/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Signika:400,700"/>
    </head>
<body style="background-image: url(images/grey_wash_wall.png);">
<div id="App">
    <div ng-controller="AppCtrl as ctrl" class="ui padded centered grid">
        <div class="centered row">
            <div class="ui inverted header">
                <h1>JMH Charts</h1>
            </div>
        </div>
        <div class="centered row">
            <div class="six wide column">
                <div class="ui form segment">
                    <h3 class="ui header">Load JSON file(s)</h3>
                    <div class="inline field">
                        <div>
                            <label for="hidden-new-file" class="ui icon button">
                                <i class="cloud icon"></i>
                                Choose files
                            </label>
                            <input type="file" multiple="multiple" accept=".json" onchange="angular.element(this).scope().ctrl.loadFiles(this)" id="hidden-new-file" style="display: none"/>
                        </div>
                    </div>
                    <div class="ui list">
                        <div ng-repeat="file in ctrl.uploaded" class="item"><i title="Remove" ng-click="ctrl.removeFile(file)" style="cursor: pointer;" class="ui red remove icon"></i>
                            <div ng-bind="file.name" class="content"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="ui form segment">
                    <h3 class="ui header">Options</h3>
                    <div class="inline field">
                        <div class="ui toggle checkbox">
                            <input id="showConfidence" type="checkbox" ng-model="ctrl.config.showConfidence" ng-change="ctrl.resetCharts()"/>
                            <label for="showConfidence">Show confidence intervals</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="centered row">
            <div class="six wide column">
                <div class="ui form segment">
                    <h3 class="ui header">Add chart</h3>
                    <div class="field">
                        <label for="seriesParam">Class</label>
                        <select id="clazz" ng-model="ctrl.creator.clazz" ng-options="x for x in ctrl.benchmarks.getClazzes()"></select>
                    </div>
                    <div ng-if="ctrl.creator.clazz" class="field">
                        <label for="seriesParam">Method</label>
                        <select id="method" ng-model="ctrl.creator.method" ng-options="x for x in ctrl.benchmarks.getMethods(ctrl.creator.clazz)"></select>
                    </div>
                    <div ng-if="ctrl.creator.method" class="field">
                        <label for="xParam">Param for X axis</label>
                        <select id="xParam" ng-model="ctrl.creator.xParam" ng-options="x disable when x == ctrl.creator.seriesParam for x in ctrl.benchmarks.getParams(ctrl.creator.clazz, ctrl.creator.method)"></select>
                    </div>
                    <div class="fields">
                        <div ng-if="ctrl.creator.xParam" class="field">
                            <label for="fixParamTmp">Fixed param</label>
                            <select id="fixParamTmp" ng-model="ctrl.creator.fixParamTmp"
                                    ng-options="x disable when x == ctrl.creator.seriesParam || x == ctrl.creator.xParam for x in ctrl.benchmarks.getParams(ctrl.creator.clazz, ctrl.creator.method)"></select>
                        </div>
                        <div ng-if="ctrl.creator.fixParamTmp" class="field">
                            <label for="fixParamValueTmp">Fixed param</label>
                            <select id="fixParamValueTmp" ng-model="ctrl.creator.fixParamValueTmp"
                                    ng-options="x for x in ctrl.benchmarks.getParamValues(ctrl.creator.clazz, ctrl.creator.method, ctrl.creator.fixParamTmp)"></select>
                        </div>
                        <button class="ui button" ng-if="ctrl.creator.fixParamValueTmp" ng-click="ctrl.fixParam(ctrl.creator.fixParamTmp, ctrl.creator.fixParamValueTmp)">
                            Fix param
                        </button>
                    </div>
                    <div class="ui list">
                        <div ng-repeat="(key, value) in ctrl.creator.fixed" class="item">
                            {{key}}: {{value}}
                        </div>
                    </div>
                    <button class="ui button" ng-if="ctrl.creator.xParam" ng-click="ctrl.createChart()">
                        Add
                    </button>
                    </h3>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div ng-repeat="chart in ctrl.charts" ng-init="ctrl.render(chart, this)" class="centered row">
            <div class="twelve wide column">
                <div class="ui attached segment">
                    <div id="{{chart.id}}" ui-jq="shape" style="width: 100%;" class="ui shape">
                        <div class="sides">
                            <div class="active side">
                                <div id="{{chart.id}}_scores"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jade/1.9.2/jade.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/absurd/0.3.5/absurd.min.js"></script>

<script src="scripts/jade-query.min.js"></script>

<script type="text/coffeescript">
    style = 
        ".HelloWorld":
            color: "green"
            opacity: 0.75

    css = new Absurd().add(style).compile()
    $('head').append("<style>\n#{css}</style>")
    $('x-jade').remove()
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/highcharts-more.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script src="//code.highcharts.com/modules/drilldown.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-cookies.min.js"></script>

<script src="scripts/ui-utils.min.js"></script>

<script src="scripts/classes.coffee" type="text/coffeescript"></script>
<script src="scripts/main.coffee" type="text/coffeescript"></script>

<script src="scripts/coffee-script.min.js"></script>

</body>
</html>
